.config/Cypress
.config/DisplayCAL
.config/fontforge
.config/nordvpn
.config/nordvpn
.config/coc
.config/coc
.config/transmission-daemon
.config/transmission-remote-gtk
.config/rclone
.config/spotify
.config/GIMP
.config/discord
.config/configstore
.config/autostart
.config/transmission
.config/pulse
.config/nvim/plugged
.config/Slack
.config/rncbc.org
.config/mimeapps.list
.config/onionshare
.config/remmina
.config/QueryPie
.config/Postman
.config/Debauchee
.config/freerdp
.config/chromium
scripts/aristodemus
